#child-1{
	color: red;
	width: 300px;
	height: 300px;
	border: 1px dotted red;
	background-color: grey;
	text-align: center;
	text-shadow: 1px 1px 1px yellow;
	box-shadow: 0px 8px 8px -8px blue;
	margin: 30%;
	border-radius: 50px 10px 20px 10px;
	transform: translate(150%,50%);
	transform: rotate(30deg);
	transform: skew(190deg);
 transition: transform 5800000s ease-out;
 transform-origin: top left;
 transform: rotate(300000000deg);
 

	
	
}